<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <div class="sidebar-content">
      <div class="brand">Nota Spese</div>

      <nav>
        <a mat-button routerLink="/" (click)="sidenav.close()">Home</a>
        <a mat-button routerLink="/categorie" (click)="sidenav.close()">Categorie</a>
        <a mat-button routerLink="/analisi" (click)="sidenav.close()">Analisi</a>
      </nav>

      <button mat-button class="logout" (click)="eseguiLogout()">Logout</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="topbar">
           <!-- SOLO MOBILE -->
      <button mat-icon-button *ngIf="isMobile" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>💰 Nota Spese</span>
    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
