<mat-form-field 
  appearance="outline" 
  class="ui-field color-select-field"
  [class.mat-form-field-invalid]="error"
  [class.has-error]="error"
>
  <mat-label>{{ label }}</mat-label>

<div matPrefix class="color-prefix" (click)="openPalette()">
  <div class="active-dot" 
       [style.backgroundColor]="value || 'transparent'"
       [class.is-empty]="!value"
       [class.error-dot]="error && !value">
    <mat-icon *ngIf="!value">palette</mat-icon>
  </div>
</div>

  <input 
    matInput 
    [value]="selectedColorName" 
    [placeholder]="!value ? 'Seleziona colore' : ''"
    readonly 
    class="display-input" 
    (click)="openPalette()" 
  > <button
    type="button"
    matSuffix
    mat-icon-button
    [matMenuTriggerFor]="colorMenu"
  > <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #colorMenu="matMenu" class="palette-popup">
    <div class="palette-grid" (click)="$event.stopPropagation()">
      @for (item of palette; track item.hex) {
        <button 
          type="button"
          class="color-btn" 
          [style.backgroundColor]="item.hex"
          [title]="item.name"
          (click)="onChange(item.hex)" 
          [class.is-selected]="value === item.hex"
        >
          <mat-icon *ngIf="value === item.hex">done</mat-icon>
        </button>
      }
    </div>
  </mat-menu>

  <mat-error *ngIf="error">{{ error }}</mat-error>
</mat-form-field>