@use 'styles/abstracts/breakpoints' as *;

input, select, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

input:focus, select:focus, textarea:focus {
  border-color: #3b82f6;
  outline: none;
}
